<h1>Add a new cocktail</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
<a><%= link_to 'Cocktail', cocktails_path %></a>
